header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: #fff;
    height: 60px;
}

.container-global-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav1, .nav2 {
    font-size: 13px;
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
}

.nav1 {
    margin-left: 50px;
}
.nav2 {
    margin-right: 50px;
    justify-content: end;
}

.logo-principal {
    flex-grow: 1; 
    text-align: center; 
}

.nav1 a, .nav2 a {
    text-decoration: none; 
    color: #000; 
}


.nav1 ul, .nav2 ul {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav1 ul li a {
    margin-right: 12px; 
}

.nav2 ul li a {
    margin-left: 12px; 
}
