@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.card-one {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 580px;
  cursor: pointer;
}

.contain-imagen {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 500px;
}

.contain-imagen img {
  width: 250px;
  height: 500px; /* Esto asegura que la proporción de la imagen se mantenga */
}

.contain-description {
}

.contain-description h4 {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 0;
}

.contain-description span {
  font-size: 11px;
}









@media (max-width: 978px) {

    .contain-lup {
      display: flex;
      flex-direction: column;
      position: absolute;
    }

    .contain-header-lup {
      display: flex;
      position: relative;
      font-size: 11px;
      gap: 15px;
      margin-top: 30px;
      margin-left: 50px;   
    }
    
    .contain-header-lup a {
      cursor: pointer;
      color: black;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0s ease;
    }
    .contain-header-lup a:focus {
      border-bottom: 1px solid rgb(0, 0, 0); /* Puedes cambiar el color del subrayado aquí */
  }

    .contain-imput {
      margin-top: 10px;
      display: flex;
      margin-left: 50px;

    }

    .contain-imput input {
      border: solid 1px black;
      width: 300px;
      height: 40px;
      outline: none;
      font-size: 11px;
      padding-left: 10px;
    }

    .span-text {
      display: flex;
      margin-left: 15px;
      font-size: 11px;
      justify-content: center;
      align-items: center;
    }
    

    .boton {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 50px;
      font-size: 12px;
    }
    .boton1 {
      display: flex;
      border: 1px solid black;
      height: 11px;
      width: 11px;
      cursor: pointer;
    }

    .boton1:hover {
      background-color: black;
  }

    #sale-only {
      margin-left: 10px;
    }
    


  
  


}